/*Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    margin: 0;
}

main{
    width: 50%;
    margin: 0 auto;
}

/*Header*/

header{
    background-color: lightgoldenrodyellow;
    width: 100%;
    padding: 20px;
}

nav{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #212022;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

nav ul li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    padding: 20px;
}

/*Section 1*/
.about-me{
    display: flex;
    margin-top: 90px;
    
}

.description{
    margin: auto;
}

.title-desc{
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}


.about-me img{
    height: 440px;
    width: 356px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}