/*Universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    margin: 0;
}

main{
    width: 50%;
    margin: 0 auto;
}

html{
    scroll-behavior: smooth;
}

section{
    margin: 90px 0;
}

/*Header*/

header{
    background-color: lightgoldenrodyellow;
    width: 100%;
    padding: 20px;
}

nav{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #212022;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 800;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

nav ul li{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: inherit;
}

/*Section 1*/
.about-me{
    display: flex;    
}

.description{
    margin: auto;
}

.title-desc{
    margin-right: 90px;
    display: flex;
    flex-direction: column;
}


.about-me img{
    height: 440px;
    width: 356px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}

/*Section 2*/


.project-tile img{
    width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #212022 ;
    margin: 40px 0;
    position: relative;
}

.project-tile p{
    text-align: center;
    font-size: 20px;
}

.image-container{
    position: relative;
}

.image-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark semi-transparent overlay */
    z-index: 1; /* Places the overlay on top of the image but below the text */
    border-radius: 20px;
    display: none;
}

.overlay{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;  
    display: none;
    background-color: #21202290;
}

/*Section 3*/
.compound-interest{
    margin: 50px 0;
}

.compound-interest p{
    line-height: 2.5;
}

.compound-interest button{
    width: 20px;
    height: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 1.5px 1.5px 5px #212022;
}

.compound-interest button:active{
    box-shadow: none;
}

.compound-interest button:hover{
    cursor: pointer;
}